<h1>Welcome Twome!</h1>
<a href="/login">Login</a>
<div class="tweet-container">
	<form method="POST" action="/tweet">
		Tweet
		<input type="text" name="tweettext">
		<input type="submit">
	</form>
	{{#each tweets}}
	<div class="tweet">
		<p class="tweet-content">{{ this.text }}</p>
		<p class="tweet-auth">—{{ this.user }}</p>
	</div>
	{{/each}}
</div>