<h1>Login</h1>
{{#if redir}}
You must log in to use twooter.
{{/if}}
<form method="POST" class="tweet-form" action="/users/create">
	Username
	<input type="text" class="tweet-input" name="username">
	<input type="submit" class="tweet-submit">
</form>