p {
	margin: 0;
}

body {
	font-family: 'Lora', serif;
	padding: 16px; // this is pretty bad I think
}

.tweet-container {
	background-color: #fff;
}

.tweet {
	padding: 16px;
	margin: 16px 0;

	background-color: #eee;
}

.tweet-content {
	font-size: 1.1em;
	font-style: italic;
}

.tweet-auth {
	color: #333;

	text-align: right;
}